<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .editor-page{
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .editor {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body class="editor-page">
<select class="form-select" id="langSelector">
    <option value="cpp" selected>C++</option>
    <option value="java">Java 11</option>
    <option value="csharp">C#</option>
</select>
<div id="container" class="editor"></div>
<script th:src="@{~/editor/scripts/main.bundle.js}"></script>
</body>
</html>